<ion-view view-title="{{navTitle}}" cache-view="false" hide-back-button="false">

    <div class="bar bar-footer">
        <div ng-click="imageOptions()" class="col col-40px" style="margin-top: -5px;">
            <i class="ion-camera" style="font-size:30px; line-height:30px; vertical-align:center"></i>
        </div>
        <label class="item item-input-inset col rounded" style="margin-left: 10px">
            <input type="text" style="direction:rtl; width: 100%;margin-top: -5px;"
                    id="chatInput" focusMe autofocus
                    placeholder="רשום הודעה..."
                    ng-model="fields.chatbox"
                    ng-keypress="enterPress($event)" />
        </label>
        <button class="button button-small button-energized col col-70px" ng-click="sendChat(0)">
            שלח
        </button>
    </div>
	
	
    <ion-content class="has-header has-footer chat" style="background-color:#f7f7f7" overflow-scroll="false">

  
   <div align="center">
   
   
        <div class="messages">
		
		
            <div class="message" collection-repeat="messages in chatArray">
			
			
				
					<img class="avatar" ng-if="messages.userimage" src="{{host}}/{{messages.userimage}}" style="width:50px; height:50px;">
					<img class="avatar" ng-if="!messages.userimage" src="img/avatar.png" style="width:50px; height:50px;">

						
                <div class="content">
                    <div class="text" ng-class="{'SenderMessages': messages.userid == user_local_storage , 'RecipentMessages': user_local_storage !=  messages.userid }">
						<div ng-if="messages.isImage == 0">{{messages.text}}</div>
						<div ng-if="messages.isImage == 1" ng-click="showChatModal(host+messages.text)">
							<img src="{{host}}/{{messages.text}}"  style="width:100px; height:100px;">
						</div>

                    </div>
                </div>
				<div class="time" style="text-align:left;">
					{{messages.date}}
				</div>
            </div>


        </div>

		
		<!--
			<div class="card" ng-repeat="messages in chatArray">
			  <div class="item item-text-wrap">
				<div ng-if="messages.isImage == 0">{{messages.text}}</div>
				<div ng-if="messages.isImage == 1">
					<img src="{{host}}/{{messages.text}}" style="width:100px; height:100px;">
				</div>
			  </div>
			</div>	   
   
			
			<div  ng-repeat="messages in chatArray" class="mainChat"  style="">
				<div align="center" ng-class = "messages.userid == user_local_storage ? 'chatImg' : 'chatImg1'">
						<img ng-if="messages.userimage" src="{{host}}/{{messages.userimage}}">
						<img ng-if="!messages.userimage" src="img/avatar.png">
				</div>
				<div  ng-class = "messages.userid == user_local_storage ? 'chatText' : 'chatText1'">
					<div style="margin-top:-8px;">
						<img ng-if = "messages.userid == user_local_storage" src="img/chat/left_arrow.png" style="width:5%; margin-left:3px; position:absolute; margin-top:13px; float:left; height:32px;" />
						
						<div style="direction:rtl;" ng-class = "messages.userid == user_local_storage ? 'chatBubble1' : 'chatBubble2'" >
							<div ng-if="messages.isImage == 0">{{messages.text}}</div>
							<div ng-if="messages.isImage == 1">
								<img src="{{host}}/{{messages.text}}" style="width:100px; height:100px;">
							</div>
							<p class="timeChat">{{messages.time}}
								<img src="img/chat/eye.png" style="width:20px; height:10px;" />
							</p>
						</div>
					   <img ng-if = "messages.userid != user_local_storage" src="img/chat/right_arrow.png" style="width:5%; margin-left:-6px; position:absolute; margin-top:13px; float:right; height:32px;" />
					</div>
				</div>
			</div>
			-->
	
   </div>
  
  </ion-content>
  
           <script id="chat-image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeChatImage()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{bigChatImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
