<ion-view view-title="אוורסט משלוחים" cache-view="false">

<!--
<ion-nav-bar align-title="center">
	<ion-nav-title style="color:#ababab; font-weight:bold; font-size:16px;">אוורסט משלוחים</ion-nav-title>
</ion-nav-bar>
-->
  <ion-content>
    <div class="title">
      <h2>שכחת סיסמה</h2>
    </div>
      <div class="list">
        <label class="item item-input login">
          <input type="tel" ng-model="forgotfields.phone" placeholder="מספר טלפון" style="text-align:right; margin-top:-5px">
        </label>		
        <label class="item">
          <button class="button button-block button-positive entrance" type="submit" ng-click="sendPassword()">שליחה</button>
        </label>
		<!--
        <label class="item">
          <button class="button button-block button-positive exit" ui-sref="app.login()">התחברות</button>
        </label>		
		-->
      </div>
  </ion-content>
</ion-view>
