<ion-view view-title="אוורסט משלוחים" cache-view="false">

<!--
<ion-nav-bar align-title="center">
	<ion-nav-title style="color:#ababab; font-weight:bold; font-size:16px;">אוורסט משלוחים</ion-nav-title>
</ion-nav-bar>
-->
  <ion-content>
    <div class="title">
      <h2>עדכון פרטי לקוח</h2>
    </div>
      <div class="list">
        <label class="item item-input login">
          <input type="text" ng-model="fields.name" placeholder="שם לקוח" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="text" ng-model="fields.city" placeholder="עיר/ישוב" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="text" ng-model="fields.address" placeholder="כתובת" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="fields.house_number" placeholder="מספר בית" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="fields.floor" placeholder="קומה" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="fields.apartment" placeholder="דירה" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="fields.phone" placeholder="טלפון" style="text-align:right; margin-top:-5px">
        </label>
		<!--
        <label class="item item-input login">
          <input type="text" ng-model="registerfields.username" placeholder="שם משתמש" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login" >
          <input type="password" placeholder="סיסמה" ng-model="registerfields.password" style="text-align:right; margin-top:-5px">
        </label>
		-->
        <label class="item item-input login" >
          <input type="text" placeholder="דואר אלקטרוני, לקבלת חשבוניות וקבלות" ng-model="fields.email" style="text-align:right; margin-top:-5px">
        </label>		
        <label class="item">
          <button class="button button-block button-positive entrance" type="submit" ng-click="saveInfo()">שמירה</button>
        </label>
		
      </div>
  </ion-content>
</ion-view>
