<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
		
        <ion-item menu-close href="#/app/login" ng-if="!userConnected" style="text-align:right; direction:rtl">
          התחברות
        </ion-item>

        <ion-item menu-close href="#/app/companymain" ng-if="userConnected"  style="text-align:right; direction:rtl">
          ראשי
        </ion-item>

		
        <ion-item menu-close href="#/app/mapadmin" ng-if="usertype == 2" style="text-align:right; direction:rtl">
          מפה
        </ion-item>		
		
        <ion-item menu-close href="#" ng-if="userConnected" ng-click="logOut()" style="text-align:right; direction:rtl">
          התנתקות
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
